.sidebar {
    background-color: hsl(217, 80%, 81%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .category-dropdown {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .selected-feedback {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
  }
  